*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    display:flex;
    justify-content:space-around;
    background-color: #424141;
    color: white;
    padding: 12px;
}
.menus{
    display: flex;
    list-style: none;
}
.item{
    margin-right:17px;
    padding: 5px;
    font-size: 18px;
}
.logo-photo{
    width:100px;
    padding: 5px;
}
.logo-photo{
    width: 120px;
}
.banner-container{
display: flex;
justify-content:space-around;
padding: 10px;
/* margin-top: 40px; */
align-items: center;
height:100vh;
background-image: url("./images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
color: white;
background-repeat: no-repeat;
background-position: center;
background-size: cover;

/* background-blend-mode: overlay; */
}
.banner-img{
    width: 300px;
}

.title{
font-size:54px;
font-weight: bold;

}

.descriptions{
    font-size: 18px;
    margin-top:15px
}
.btn{
    margin-top: 20px;
    padding: 13px 20px;
    outline: none;
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    margin:15px;
    padding: 10px;
}
.about-title{
    text-align: center;
    padding-top:20px;
}
